<div class="left">
  <h3>指标</h3>
  <ul>
    <ng-container *ngFor="let item of list1;let idx = index">
      <li [dragSource]="sourceList[idx]" >{{ item.name }}</li>
    </ng-container>
  </ul>
  <h3>维度</h3>
  <ul>
    <li *ngFor="let item of list2">{{ item.name }}</li>
  </ul>
</div>
<div class="right">
  <h3>指标</h3>
  <div class="box1">
    <!-- <ul>
      <li [dragSource]="targetDragList[idx]" *ngFor="let item of targetList;let idx = index">{{ item.name }}</li>
    </ul> -->
    <ul>
      <ng-container *ngFor="let item of targetList;let idx = index">
        <app-place (changePos)="changePos($event)" [index]="idx" [allDropList]="allDropList">
        </app-place>
      </ng-container>
    </ul>
  </div>
  <h3>维度</h3>
  <div class="box2"></div>
</div>
